body {
  margin: 0;
  border: 0;
  padding: 0;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}


/* first text block */

.historyBlock {
  padding-left: 1rem;
  margin-left: auto;
  margin-right: auto
}

#historyBlock1 {
  min-height: 380px;
  position: relative;
  color: #ffffff;
  text-align: left;
}

/* blurring background pic + color */
#historyBlock1::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  background: url(./public_pics/historyBlock1_2.png) center / cover no-repeat;
  background-color: #182E3E;
  background-size: 1000px;
  filter: blur(5px);
}

.historyBlockHeading {
  padding-bottom: 1.5rem;
}

.heading {
  font-family: Lobster;
  text-align: center;
}

.heading h1 {
  margin: 0;
  font-size: 4rem;
  line-height: 1.2;
  text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.75);
}

.historyBlockHeading h4 {
  margin: 0;
  font-size: 1.6rem;
  text-align: center;
}

.historyBlockHeading img {
  position: relative;
  top: 5.5rem;
}

.text1 {
  max-width: 70rem;
  margin-left: auto;
  margin-right: auto
}

/* second text block */
/* figure top border */
#historyBlock2 {
  min-height: 350px;
  top: -10px;
  position: relative;
  color: #130f0f;
  text-align: left;
  padding-bottom: 5rem;

  border-top: 10px solid transparent;
  background-image: linear-gradient(white, white), linear-gradient(to bottom right, transparent 50.5%, white 50.5%), linear-gradient(to bottom left, transparent 50.5%, white 50.5%), linear-gradient(to top right, transparent 50.5%, white 50.5%), linear-gradient(to top left, transparent 50.5%, white 50.5%);
  background-repeat: repeat, repeat-x, repeat-x, repeat-x, repeat-x;
  background-position: 0 0, 10px 0, 10px 0, 10px 100%, 10px 100%;
  background-size: auto auto, 20px 20px, 20px 20px, 20px 20px, 20px 20px;
  background-clip: padding-box, border-box, border-box, border-box, border-box;
  background-origin: padding-box, border-box, border-box, border-box, border-box;
  background-color: white;
  background-color: hsla(0, 0%, 0%, 0);
}

.textBlock2 {
  display: flex;
  justify-content: center;
}

#heading2 {
  color: #6d4121
}

.text2 {
  max-width: 40rem;
  margin: 2rem;
}

.year {
  color: #a9a9a9;
  letter-spacing: -0.12em;
  font-weight: 900;
  font-size: 6rem;
  writing-mode: vertical-lr;
}


/* thirds text block */
/* figure top border */

#historyBlock3 {
  border-top: 10px solid transparent;
  background-image: linear-gradient(#e5d3ae, #e5d3ae), linear-gradient(to bottom right, transparent 50.5%, #e5d3ae 50.5%), linear-gradient(to bottom left, transparent 50.5%, #e5d3ae 50.5%), linear-gradient(to top right, transparent 50.5%, #e5d3ae 50.5%), linear-gradient(to top left, transparent 50.5%, #e5d3ae 50.5%);
  background-repeat: repeat, repeat-x, repeat-x, repeat-x, repeat-x;
  background-position: 0 0, 10px 0, 10px 0, 10px 100%, 10px 100%;
  background-size: auto auto, 20px 20px, 20px 20px, 20px 20px, 20px 20px;
  background-clip: padding-box, border-box, border-box, border-box, border-box;
  background-origin: padding-box, border-box, border-box, border-box, border-box;
  background-color: #e5d3ae;
  background-color: hsla(0, 0%, 0%, 0);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#heading3 {
  color: #6d4121;
}

.fistVirusBlock {
  display: flex;
}

#year1961 {
  color: #ffffff;
}

#year1971 {
  color: #ffffff;
}

.firstVirusColumn {
  display: flex;
  flex-direction: column;
  max-width: 30rem;
  padding-left: 7rem;
}

.picsYear {
  display: flex;
  flex-direction: row;
}

.virusPicsContainer {
  max-height: 22rem;
}

.picVirus {
  position: relative;
  left: 11%;
  top: -79%;
}

.bottomBorder {
  border: 400px solid transparent;
  border-top: 65px solid #e5d3ae;
  width: 0;
  height: 0;
  margin-left: 30%;
}


/* fourth text block */
#historyBlock4 {
  position: relative;
  top: -23rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.firstVirusColumn h3 {
  margin-left: 5rem;
}

#year1987 {
  color: #e5d3ae
}

#year1981 {
  color: #e5d3ae
}

#biegePic {
  top: -20rem;
  left: 0rem
}


/* text block 5 */

#historyBlock5 {
  padding-top: 4rem;
  background: url(./public_pics/backGroundFifth.png) center / cover no-repeat;
  background-color: #48444c;
  min-height: 40rem;
}

#historyBlock5Text1 {
  color: white;
}

#historyBlock5Text2 {
  color: white;
}

#heading5 {
  color: white;
  margin-bottom: 1rem;
}

#year1980 {
  color: white;
}

#year1983 {
  color: white;
}



/* text block 6 */
#historyBlock6 {
  padding: 4rem;

}



/* text block 7 */
#historyBlock7 {
  padding: 2rem;
  background: url(./public_pics/background7.png) center / cover no-repeat;
  background-color: #1e1313;
}

#historyBlock7Text {
  color: white;
  padding-top: 2rem;
}

#year1991 {
  color: white;
}


/* text block 8 */
#historyBlock8 {
  padding: 2rem;
  background: url(./public_pics/8background.png) center / cover no-repeat;
  background-color: #b97e52;
}

#heading8 {
  color: white;
}

#textBlock8 {
  color: white;
  max-width: 70rem;
}

#text8 {
  color: white;
}

#year1994 {
  color: white;
}

.bottomBorder8 {
  width: 0;
  height: 0;
  border-left: 120px solid transparent;
  border-right: 1000px solid transparent;
  border-top: 100px solid #b97e52;
  width: 0;
  height: 0;
  margin-left: 17%;
}


/* 9 text block */
#historyBlock9 {
  margin-bottom: 3rem;
}


/* 10 text block */

#historyBlock10 {
  color: white;
  background-color: #7eb636;
  padding-top: 5rem;
}

.textBlock10 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: top;
  padding-bottom: 5rem;
}

/* #heading10 {
  color: white;
} */

#year2005 {
  color: white;
  align-self: center;
}

.column10 {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  max-width: 30rem;
  padding-left: 7rem;
}
